.card{
background-color: black;
text-decoration-color: black;
padding: 0.5rem;
margin: 0.5rem;
border-color: blueviolet;
text-align: justify;

}
.card-title{
    text-align: center;
    font-size: 25px;
    font-style:italic;
}
.container{
    padding: 1rem;
    margin: 1rem;
    justify-items: center;
}
.row{
    margin-left: 1rem;
    margin-right: 1rem;
}