@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.card{
background-color: black;
text-decoration-color: black;
padding: 1rem;
margin: 1rem;

border-color: blueviolet;
}
.container{
    padding: 1rem;
    margin: 1rem;
    justify-items: center;
}
.row{
    padding: 1rem;
    margin: 1rem; 
}